<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>予約</title>
</head>
<body>
<p>タイトル : <span th:text="${schedule.movie.title}">タイトル</span></p>
<p>ジャンル : <span th:text="${schedule.movie.genre}">ジャンル</span></p>
<p>上映時間 : <span th:text="${schedule.movie.runtime}">上映時間</span></p>
<p>シアター : <span th:text="${schedule.theater}">シアター</span></p>
<p>上映開始時間 : <span th:text="${#temporals.format(schedule.screenTime,'yyyy-MM-dd HH:mm')}">上映開始時間</span></p>
<form method="post" th:action="@{/home/insReservation}" th:object="${reservationDto}">
  <input type="hidden" th:field="*{userId}"/>
  <input type="hidden" th:field="*{scheduleId}"/>
  座席 <input type="text" th:field="*{seatNumber}"/>
    <div th:if="${#fields.hasErrors('seatNumber')}" th:errors="*{seatNumber}"></div>
  <button type="submit" onclick = "return confirm('予約します。よろしいでしょうか？')">予約</button>
</form>
<a th:href="@{/home/main}">メイン画面へ</a>
</body>
</html>