<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>映画管理</title>
</head>
<style>
  th {
    border : 1px solid black;
    width : 100px;
  }
</style>
<body>

<h1>映画管理ページ</h1>

<!-- 検索 -->
<form method="post" th:action="@{/home/movieTrk}" th:object="${createMovieDto}">
  <label>監督: <input type="text" name="director" style="margin-left : 31px;"></label><br>
  <div th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></div>
  <label>ジャンル: <input type="text" name="genre"></label><br>
  <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
  <label>タイトル: <input type="text" name="title"></label><br>
  <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <label>上映時間: <input type="text" name="runtime"></label><br>
  <div th:if="${#fields.hasErrors('runtime')}" th:errors="*{runtime}"></div>
  <button type="submit">映画情報登録</button>
</form>

<hr>
<!-- 結果表示 -->
<table th:if="${movieData != null}">
  <thead>
  <tr>
    <th>タイトル</th>
    <th>ジャンル</th>
    <th>監督</th>
    <th>上映時間</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movie : ${movieData}">
    <td th:text="${movie.title}">タイトル</td>
    <td th:text="${movie.genre}">ジャンル</td>
    <td th:text="${movie.director}">監督</td>
    <td th:text="${movie.runtime}">上映時間</td>
    <td>
      <form th:action="@{/home/schedule}" method="get" th:object="${movie}">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit">スケジュール管理</button>
      </form>
    </td>
    <td>
      <form th:action="@{/home/movieTrk/delete}" method="post" th:object="${movie}">
        <input type="hidden" th:name="id" th:value="${movie.id}" />
        <button type="submit" onclick="return confirm('削除しますか？');">削除</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br>
<a th:href="@{/home/admin}">管理者画面</a>
</body>
<script th:if="${deleteUser != null}">
  alert('[[${deleteUser}]]')
</script>
</html>
