<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>映画検索</title>
</head>
<body>

<h1>映画検索</h1>

<!-- 検索 -->
<form method="get" th:action="@{/home/movie}">
    <label>監督: <input type="text" name="director"></label><br>
    <label>ジャンル: <input type="text" name="genre"></label><br>
    <label>タイトル: <input type="text" name="title"></label><br>
    <button type="submit">検索</button>
</form>

<hr>

<!-- 検索結果がない場合 -->
<div th:if="${noSearch}" style="color:red;">
    <p th:text="${noSearch}"></p>
</div>

<!-- 検索結果表示 -->
<table th:if="${movieData != null}">
    <thead>
    <tr>
        <th>タイトル</th>
        <th>監督</th>
        <th>ジャンル</th>
        <th>上映時間</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movieData}">
        <td th:text="${movie.title}">タイトル</td>
        <td th:text="${movie.genre}">ジャンル</td>
        <td th:text="${movie.director}">監督</td>
        <td th:text="${movie.runtime}">上映時間</td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{${session.userRole == '2'} ? '/home/admin' : '/home/main'}">メイン画面</a>

</body>
</html>
