<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>予約管理</title>
</head>
<script th:inline="javascript">
  function Yykcancle(id) {
    fetch('/home/reservation/edit/' + id ,
    {method : "DELETE" ,
    headers : {"Content-Type" : "application/json"} ,
    }).then(res => {
      if(res.ok) {
        alert("予約キャンセル")
        window.location.href = "/home/reservation";
      }
      else {
        alert("失敗");
      }
    });
  }
</script>
<body>
<table th:if="${reservationList != null}">
  <thead>
  <tr>
    <th>ユーザーID</th>
    <th>タイトル</th>
    <th>ジャンル</th>
    <th>上映時間</th>
    <th>シアター</th>
    <th>上映開始時間</th>
    <th>予約座席</th>
    <th>予約時間</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservationList}">
    <td th:text="${reservation.user.username}">ユーザーID</td>
    <td th:text="${reservation.schedule.movie.title}">タイトル</td>
    <td th:text="${reservation.schedule.movie.genre}">ジャンル</td>
    <td th:text="${reservation.schedule.movie.runtime}">上映時間</td>
    <td th:text="${reservation.schedule.theater}">シアター</td>
    <td th:text="${#temporals.format(reservation.schedule.screenTime , 'yyyy-MM-dd HH:mm')}">上映開始時間</td>
    <td th:text="${reservation.seatNumber}">予約座席</td>
    <td th:text="${#temporals.format(reservation.reservationTime , 'yyyy-MM-dd HH:mm')}">予約時間</td>
    <td>
      <button type="button" th:hidden="${reservation.schedule.screenTime.plusMinutes(20).isBefore(movieTime)}"
              th:onclick="'Yykcancle(' + ${reservation.id} + ')'" >予約キャンセル</button>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{${session.userRole == '2'} ? '/home/admin' : '/home/main'}">メイン画面</a>
</body>
</html>