<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>映画スケジュール登録</title>
</head>
<body>
<form method="post" th:action="@{/home/schedule/new}" th:object="${scheduleDto}">
  <input type="hidden" th:field="*{movieId}" />
シアター<input type="text" th:field="*{theater}"/>
上映開始時間<input type="datetime-local" th:field="*{screenTime}"/>
予約可能座席数<input type="text" th:field="*{availableSeats}"/>
  <button type="submit">登録</button>
    <a th:href="@{/home/movieTrk}">
        <button type="button">映画管理ページ</button>
    </a>
</form>
</body>
</html>