  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>スケジュールリスト</title>
  </head>
  <body>
  <h1>上映スケジュール</h1>
  <table>
    <thead>
    <tr>
      <th>タイトル</th>
      <th>シアター</th>
      <th>上映開始時間</th>
      <th>座席数</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${scheduleList}">
      <td th:text="${schedule.movie != null ? schedule.movie.title : 'タイトル無し'}">タイトル</td>
      <td th:text="${schedule.theater}">シアター</td>
      <td th:text="${#temporals.format(schedule.screenTime, 'yyyy-MM-dd HH:mm')}">上映開始時間</td>
      <td th:text="${schedule.availableSeats}">座席数</td>
      <td>
        <form th:action="@{/home/schedule/edit/{id}(id=${schedule.id})}" method="get">
          <button type="submit">スケジュール修正</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/home/admin}">管理者ページへ</a>
  </body>
  </html>
